body{
	font-family: Helvetica, Verdana, Arial;
	text-align: center;
}

/* Header -- Start*/
#mainmenu {
	font-size: 1.5em;
	display: block;
	margin-top: 10px;
}
#mainmenu a{
	display: inline-block;
	margin-right: 15px;
	float: none;
	padding: 5px;
	text-decoration:none;
	border-bottom: 2px solid #fff;
	color:#999;
}
#mainmenu a:hover {
	border-color:#026;
	color:#026;
}
/* Header -- End*/


/* Footer -- Start*/
#footer-outer{
	display: inline-block;
}
.footer-title, .location-title{
	padding: 10px;
	font-size:1.5em;
	font-weight: bold;
}
.footer-content{
	padding-bottom: 1em;
	font-size:1.2em;
}
.footer-img{
	height:70px;
}

/* Footer -- End*/


/*Index -- Start*/
.imgIndex{
	margin-top: 20px;
	margin-bottom: 20px;
	width:100%;
	max-width: 700px;
	height: auto;
}

/*Index -- END*/

/* About Us ---   Start */
.about-img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border:1px solid #ccc;
}

blockquote {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #a5a4a4;
	font-style: italic;
	font-size: 1.5em;
	margin: 30px;
	padding: 30px;
	text-align: center;
}
 .about-title{
	display: block;
	font-size: 1.6em;
	margin: 30px;
	padding: 20px;
	text-align: center;
}
.em{
	font-size: 2.5em;
}
/* About Us ---   End */

/*Location-- Start*/
#location{
	text-align: center;
	display: block;
	padding-bottom: 10px;
	margin: 20px;
}
.location-title{
	font-size:1.5em;
	font-weight: bold;
}
.location-content{
	font-size:1.2em;
}
#googleMap-outer{
	text-align: center;
}
.Map{
	width:600px;
	height:480px;
	display:inline-block;
}
/*Location-- End*/


/*Contact us -- Start*/
#contact-title{
	font-size:1.6em;margin:30px;font-weight:bold;
}
.contact-head{
	text-align: right;
}

.contact-msg{
	text-align: right;
}

.contact-txt{
	margin-left: 5px;
	font-size:0.8em;
    height: 25px;
    width: 220px;
}
.contact-content{
	margin-left: 5px;
	font-size:0.8em;
    height: 200px;
    width: 220px;
}
#contact{
	display: inline-block;
	text-align: left;
	font-size: 1.2em;
	margin-top: 5px;
	line-height: 2em;
	margin-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	height: 500px;
}
input#btnSubmit{
	width:340px;
	font-size:100%;
	color:hsl(0, 0%, 70%); 
	background-color:white; 
	border: 2px solid hsl(0, 0%, 70%);
	border-radius: 50px;
	 
}
input, input:active, input:focus {     
    outline:0;outline-style:none;outline-width:0; 
}
#results{
	text-align:center;
}
/*Contact us -- END*/

#confirming{
	text-align:center;
}
#center{
	text-align: center;
	border:2px solid grey;
	display: inline-block;
}

.Error, .Error1, .Error2, .Error3{color: blue;}

.checkmark{width: 20px;}






